{{#if visible}}
  <div class="phone-field-bonus-notification">
    <div class="notification-content">
      <span class="icon">🎉</span>
      <span class="message">
        {{i18n "phone_field_bonus.notification.message" points=points}}
      </span>
      <button class="btn-small btn-default dismiss-btn" {{action "dismiss"}}>
        {{d-icon "times"}}
      </button>
    </div>
  </div>
{{/if}} 