.phone-field-bonus {
  &-notification {
    background-color: var(--success-low);
    border: 1px solid var(--success);
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
    
    .icon {
      color: var(--success);
      margin-right: 8px;
    }
  }
  
  &-badge {
    background-color: var(--tertiary);
    color: var(--secondary);
    font-size: 0.85em;
    padding: 2px 6px;
    border-radius: 3px;
    margin-left: 5px;
  }
} 